
# This is a basic workflow to help you get started with Actions

name: SCRIPT-TEST

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  GITHUB_REP: $GITHUB_REPOSITORY
  GITHUB_JOB: $GITHUB_JOB
jobs:
  script-test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v4  
      - name: Run a script
        run: ./data/key.sh